body {
    background-color: #ccc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
    margin: 0;
}

.contenedor {
    width: 80%;
    margin:auto;
    overflow: hidden;/*  esto es para acomodar todo el texto dentro del contenedor */
    display: flex;
}

header {
    background-color: #242582;
    color: #f64c72;
}

nav {
    background-color: #2f2fa1;
    color: #ffff;
    box-shadow: 2px 2px 22px rgb(32, 31, 31);
    /* position: fixed;
    width: 100%; */
    
}

nav ul {
    padding: 0px;
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: start;
}

nav li a{
    padding-right: 15px;
    color: #9973be;
    text-decoration: none;
    font-size: 20px;
}

nav a:hover {
    color: #f64c72;
}

#presentacion {
    background-image: url("img/foto1.png");
    min-height: 200px;
    margin-bottom: 30px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#presentacion h2 {
    color: #fff;
    font-size: 30px;
    line-height: 1.6em;
    padding-top: 20px;
}

main {
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}

aside {
    background-color: #f64c72;
    color:#fff;
    width: 30%;
    padding: 30px;
    box-sizing: border-box;
}

footer {
    background-color: #242582;
    color:#fff;
    text-align: center;
    padding: 5px;
    margin-top: 40px;
}

@media (max-width: 600px) {
    .contenedor {
        flex-direction: column;
    }
    main, aside {
        width: 100%;
    }
    
}
